{%  extends 'base.html.twig' %}
 

{% block content %}
{{ include ('LoginLoginBundle:Default:VerticalBar.html.twig') }} 
<div class="Encadrement">
<div class="fenetre">
			<h1 class="Avatar">Carnet d'adresse</h1>

			<div class="count">
							
				<img src="{{ asset('bundles/loginlogin/img/logo_count.png') }}"width="100" height="100" alt="logo"/>  {{ pagination.getTotalItemCount }} Personnes

			</div>
	
			
			<div class="dark-theme">
   							 {{ knp_pagination_render(pagination) }}
			</div>
			
			<table class="personne"id="personne">
			
						<thead class="Entete">
								     <tr>
								        <th>{{ knp_pagination_sortable(pagination, ' ', 'a.picture_name') }}</th>
						    			<th>{{ knp_pagination_sortable(pagination, 'Prenom', 'a.prenom') }}</th>
						    			<th{% if pagination.isSorted('a.nom') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nom', 'a.nom') }}</th>
						   				 <th>{{ knp_pagination_sortable(pagination, 'Categories','a.id_cat') }}</th>
								     </tr>
					   </thead>
							{# table body #}
							{% for contact in pagination %}
							<tr {% if loop.index is odd %}class="color"{% endif %}>
							    
							     		<td class="picture">
							     
												{% if contact.picture_name is defined %}
							     				 		<img src="{{app.request.basepath}}/uploads/pictures/{{contact.picture_name}}" width="100px",Height="100px" />
							   					{% else %}
							    								Pas d'image de profil chargée !
												{% endif %}
										</td>
										<td class="Prenom">{{ contact.prenom }}</td>
    									<td class = "Nom"><a href="{{ path('login_login_complement', {'id': contact.id_personne ,'nom': contact.nom ,'prenom': contact.prenom }) }}"><ul id="list">{{ contact.nom }}</ul></a></td>
    									<td>{{ contact.nom_categorie }}</td>
    
    						{% endfor %}
							</tr>
								
								
			
			</table>
			<div class="dark-theme">
   							 {{ knp_pagination_render(pagination) }}
			</div>
			  {% if  (page != maxpage)   %}  
			  	{% if (page > 1) %}
				<div class="alphabetic" role="toolbar">
					<form method="GET" action="" id ="Form">
		  				  <div class="btn-group-vertical" role="group" aria-label="First group">
						    <button type="submit" class="btn btn-primary" id ="button" name="alphabet" onclick='alphabetSearch(-1);'>All</button>
						    <button type="submit" class="btn btn-secondary" id ="button" onclick='alphabetSearch(0);'>A</button>
						    <button type="submit" class="btn btn-secondary"id ="button" onclick='alphabetSearch(1);'>B</button>
						    <button type="submit" class="btn btn-secondary"id ="button" onclick='alphabetSearch(2);'>C</button>
						    <button type="submit" class="btn btn-secondary"id ="button" onclick='alphabetSearch(3);'>D</button>
						    <button type="submit" class="btn btn-secondary"id ="button" onclick='alphabetSearch(4)'>E</button>
						    <button type="submit" class="btn btn-secondary"id ="button" onclick='alphabetSearch(5)'>F</button>
						    <button type="submit" class="btn btn-secondary"id ="button" onclick='alphabetSearch(6)'>G</button>
						    <button type="submit" class="btn btn-secondary"id ="button" onclick='alphabetSearch(7)'>H</button>
						    <button type="submit" class="btn btn-secondary"id ="button" onclick='alphabetSearch(8)'>I</button>
						    <button type="submit" class="btn btn-secondary"id ="button" onclick='alphabetSearch(9)'>J</button>
						    <button type="submit" class="btn btn-secondary"id ="button" onclick='alphabetSearch(10)'>K</button>
						    <button type="submit" class="btn btn-secondary"id ="button" onclick='alphabetSearch(11)'>L</button>
						    <button type="submit" class="btn btn-secondary"id ="button" onclick='alphabetSearch(12)'>M</button>
						    <button type="submit" class="btn btn-secondary"id ="button" onclick='alphabetSearch(13)'>N</button>
						    <button type="submit" class="btn btn-secondary"id ="button" onclick='alphabetSearch(14)'>O</button>
						    <button type="submit" class="btn btn-secondary"id ="button" onclick='alphabetSearch(15)'>P</button>
						    <button type="submit" class="btn btn-secondary"id ="button" onclick='alphabetSearch(16)'>Q</button>
						    <button type="submit" class="btn btn-secondary"id ="button" onclick='alphabetSearch(17)'>R</button>
						    <button type="submit" class="btn btn-secondary"id ="button" onclick='alphabetSearch(18)'>S</button>
						    <button type="submit" class="btn btn-secondary"id ="button" onclick='alphabetSearch(19)'>T</button>
						    <button type="submit" class="btn btn-secondary"id ="button" onclick='alphabetSearch(20)'>U</button>
						    <button type="submit" class="btn btn-secondary"id ="button" onclick='alphabetSearch(21)'>V</button>
						    <button type="submit" class="btn btn-secondary"id ="button" onclick='alphabetSearch(22)'>W</button>
						    <button type="submit" class="btn btn-secondary"id ="button" onclick='alphabetSearch(23)'>X</button>
						    <button type="submit" class="btn btn-secondary"id ="button" onclick='alphabetSearch(24)'>Y</button>
						    <button type="submit" class="btn btn-secondary"id ="button" onclick='alphabetSearch(25)'>Z</button>
						  
						 </div>
						   </form>
						    	
						    {% endif %}
						  {% endif %}
						  </div>
				</div>  
				
				
				<div id="result"></div>
				
				 
	</div>
</div>




{%  endblock %}