{% extends 'base.html.twig' %}

 {% block images %}
			
 			<img src="{{ asset('bundles/LoginLogin/img/mobile.png') }}" width="188" height="188" alt="mobile" />
        	<img src="{{ asset('bundles/LoginLogin/img/téléphone.png') }}" width="260" height="260" alt="telephone" />
        
        {% endblock %}

{% block content %}
{{ include ('LoginLoginBundle:Default:VerticalBar.html.twig') }} 



<div class="Encadrement">
<div class="fenetre">

			<h1 class="Avatar">Fiche {{ nom }} {{ prenom }}</h1>
			
			
			<div class="Fiche">
		
			{% for cpl in complement %}
					
					<div class="adresse">
					{% if  cpl.adresse is defined %}
						{% if  cpl.adresse != "" %}
						<h2><span class="glyphicon glyphicon-globe"> Adresse : {{ cpl.adresse }}</span>	</h2>
						{% else %}	
							<img src="{{ asset('bundles/loginlogin/img/fixe.png') }}" width="100" height="100" alt="téléphone non disponible" />
						{% endif %}
					{% else %}
							Pas d'adresse corespondant !
					{% endif %}
					</div>
					
						
					{% if  cpl.tel_fixe is defined %}
						{% if  cpl.tel_fixe != "" %}
							<h2><span class ="glyphicon glyphicon-phone-alt"> Téléphone fixe : {{ cpl.tel_fixe }}</span></h2>
						{% else %}	
							<img src="{{ asset('bundles/loginlogin/img/fixe.png') }}" width="100" height="100" alt="téléphone non disponible" />
						{% endif %}
					{% else %}
					{% endif %}
					</br>
					{% if  cpl.tel_box is defined %}
							{% if  cpl.tel_box != "" %}
							<h2><span class ="glyphicon glyphicon-earphone"> Téléphone ADSL : {{ cpl.tel_box }}</span></h2>
						{% else %}	
							<img src="{{ asset('bundles/loginlogin/img/téléphone.png') }}" width="100" height="100" alt="téléphone non disponible" />
						{% endif %}
					{% else %}
							Pas d'Adsl disponible !
					{% endif %}
					</br>
					{% if  cpl.mobile is defined %}
							{% if  cpl.mobile != "" %}
							<h2><span class ="glyphicon glyphicon-phone"> Téléphone Mobile : {{ cpl.mobile }}</span></h2>
						{% else %}	
							<img src="{{ asset('bundles/loginlogin/img/mobile.png') }}" width="100" height="100" alt="téléphone non disponible" />
						{% endif %}
					{% else %}
							Pas de Portable disponible !
					{% endif %}
					</br>
					{% if  cpl.email is defined %}
							{% if  cpl.email != "" %}
							<h2><span class="glyphicon glyphicon-envelope"> Email : <a href="#">{{ cpl.email }}</a></span></h2>
						{% else %}	
							<img src="{{ asset('bundles/loginlogin/img/email.png') }}" width="100" height="100" alt="téléphone non disponible" />
						{% endif %}
					{% else %}
							Pas d'Email disponible !
					{% endif %}
					</br>
					
					
					</div>
					
					
			{% endfor %}
			
			
			</div>
</div>
</div>
			
			
			
			
{% endblock %}