<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Carnet d'Adresse!{% endblock %}</title>
        {% block stylesheets %}
        
         <link href="{{ asset('/bundles/loginlogin/css/bootstrap.css') }}" rel="stylesheet" />
        
        
        
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
        
        {{ include ('LoginLoginBundle:Default:NavBarre.html.twig') }} 
         
        
        {% endblock %}
        {% block javascripts %}
         <script src="{{ asset('/bundles/loginlogin/js/jquery.js') }}"></script>
         <script src="{{ asset('/bundles/loginlogin/js/bootstrap.js') }}"></script>
        
        {% endblock %}
    </body>
</html>
